@model customers_management_app.Models.ViewModels.CustomersViewModel

@{
    ViewData["Title"] = "CreateCustomer";
}

<h1>Create Customer</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustFirstName" class="control-label fw-bold">First Name</label>
                <input asp-for="CustFirstName" class="form-control" />
                <span asp-validation-for="CustFirstName" class="text-danger"></span>
            </div><br/>
            <div class="form-group">
                <label asp-for="CustLastName" class="control-label fw-bold">Last Name</label>
                <input asp-for="CustLastName" class="form-control" />
                <span asp-validation-for="CustLastName" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="CustPhone" class="control-label fw-bold">Phone </label>
                <input asp-for="CustPhone" class="form-control" />
                <span asp-validation-for="CustPhone" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" asp-action="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div><br/>

<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
