@model customers_management_app.Models.Customers

@{
    ViewData["Title"] = "EditCustomer";
}

<h1>Edit Customer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(model => model.CustID)
            </div>
            <div class="form-group">
                <label asp-for="CustFirstName" class="control-label fw-bold">First Name</label>
                <input asp-for="CustFirstName" class="form-control"/>
                <span asp-validation-for="CustFirstName" class="text-danger"></span>
            </div><br/>
            <div class="form-group">
                <label asp-for="CustLastName" class="control-label fw-bold">Last Name</label>
                <input asp-for="CustLastName" class="form-control" />
                <span asp-validation-for="CustLastName" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="CustPhone" class="control-label fw-bold">Phone</label>
                <input asp-for="CustPhone" class="form-control" />
                <span asp-validation-for="CustPhone" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Save" asp-action="Edit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-action="AllCustomers" class="btn btn-info">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
